@model UserResponse

@* Generated from Custom MVC Template. *@
@* Model namespace using directive should be added to _ViewImports.cshtml. *@

@{
    var containerDivClass = "container"; // "container-fluid" can be used for full width
}
@{
    ViewData["Title"] = "User Details";
}

<div class="@containerDivClass">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>

@if (Model is not null)
{
    <div class="@containerDivClass">
        @if (TempData["Message"] is not null)
        {
            <p class="text-danger">
                @TempData["Message"]
            </p>
        }
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.UserName)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.UserName)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.FirstName)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.FirstName)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.LastName)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.LastName)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.Gender)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.Gender)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.BirthDate)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.BirthDate)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.RegistrationDate)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.Score)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.Score)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.IsActive)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.IsActive)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.Address)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.Address)
            </div>
        </div>

        <hr />
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>&nbsp;|&nbsp;
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>&nbsp;|&nbsp;
        <a asp-action="Index">Back to List</a>
    </div>
}